<div class="main-body">
	<div class="row">
		<a routerLink="/users" style="margin-bottom: 15px; cursor: pointer; text-decoration: underline;">&#8592; Back to users</a>
		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<div class="d-flex flex-column align-items-center text-center">
						<img [src]=user.imageUrl alt="Admin"
							class="rounded-circle p-1 bg-primary" width="110">
						<div class="mt-3">
							<h4>{{user.firstName}} {{user.lastName}}</h4>
							<p class="text-secondary mb-1">ID:{{user.uuid}}</p>
							<p class="text-muted font-size-sm">{{user.gender}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-sm-3">
							<h6 class="mb-0">First Name</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							<input [disabled]="mode === 'locked'"   type="text" class="form-control" [value]="user.firstName">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-3">
							<h6 class="mb-0">Last Name</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							<input [disabled]="mode === 'locked'"   type="text" class="form-control" [value]="user.lastName">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-3">
							<h6 class="mb-0">Date of Birth</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							<input [disabled]="mode === 'locked'"  type="text" class="form-control" value="{{user.dateOfBirth | date: 'mediumDate'  }}">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-3">
							<h6 class="mb-0">Email</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							<input [disabled]="mode === 'locked'"   type="text" class="form-control" [value]="user.email">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-3">
							<h6 class="mb-0">Phone</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							<input [disabled]="mode === 'locked'"  type="text" class="form-control" [value]="user.phone">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-3">
							<h6 class="mb-0">Gender</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							<input [disabled]="mode === 'locked'"  type="text" class="form-control" [value]="user.gender">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-3">
							<h6 class="mb-0">Address</h6>
						</div>
						<div class="col-sm-9 text-secondary">
							<input [disabled]="mode === 'locked'"  type="text" class="form-control" [value]="user.address">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-9 text-secondary">
							<button (click)="changeMode(mode)" type="button" class="btn btn-primary px-4" >{{buttonText}}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<h5 class="d-flex align-items-center mb-3">User Location</h5>
							<div class="map-wrapper">
								<div class="map-border">
									<div id="map"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>